*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    width:780px;
    height:100%;
    margin:10px auto;

}

#header{
    background-color: #2be2e2;
    width:780px;
    height:200px;
}

#main{
    overflow:auto;
}

#main #sidebar{
    float:left;
    margin: 10px 15px 0px 35px;
}

#main #sidebar #searchbar{
    background-color: #382ce2;
    width:235px;
    height:110px;
    margin-bottom: 10px;


}

#main #sidebar #searchbar #input_box
{
    width:50%;    
}
#main #sidebar #searchbar #search-box #btn_search{
    color:#fff;
    padding:3px;
    background-color: #678c1a;
    text-transform: uppercase;
    letter-spacing:1px;
}
#main #sidebar #searchbar #search-box{
    background-color:#95c72a;
    text-align:center;
    height: 65px;
    padding:22.5px ;
}

#main #sidebar h3{
    background-color: #678b1d;
    height:45px;
    padding: 15px;
    text-transform: uppercase;
    color:#fff;

}

/* /////////////////////////////////// */

#main #sidebar #Lorem{
    margin-bottom: 10px;
}
#main #sidebar #Lorem ul {
    background-color: #95c72a;  
    height: 215px;  
    padding: 20px;
}
#main #sidebar #Lorem ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
#main #sidebar #volutoat ul {
    background-color: #95c72a;  
    height: 215px;  
    padding: 20px;
}
#main #sidebar #volutoat ul li {
    list-style-type: none;
    margin-bottom: 10px;
}



/* #main #sidebar #searchbar */
/* # */

#main #sidebar #volutoat{
    background-color: #e22c81;
    width:235px;
    height:260px;
}

#main #content {
    background-color: #3e3c3d;
    color:#aca59b;
    width:450px;
    height:745px;
    float:right;
    margin: 10px 45px 10px 0px;
}

#main #content h2{
    color:white;
    margin:35px 20px 10px;
    border-bottom: 3px solid gray; 
    text-transform: uppercase;

}

#main #content p{
    margin:20px ;
    word-spacing: 5px;
    line-height: 1.5em;

}

#main #content #readme_1 {
    margin:20px ;
    
}
#main #content #readme_1 p{
    display: inline-block;
}


/* /////////////////////////// */
#footer{
    background-color: #9ce22c;
    width:780px;
    height:35px;
}